.navbar {
    width: 100%;
    padding: 30px 0;
    box-sizing: border-box;
    margin-bottom: 40px;
    background: rgb(185, 184, 184);
    border-radius: 10px;
  }
  .navbar ul {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-end;
  }
  .navbar .logo {
    font-weight: bold;
    color: var(--heading-color);
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .navbar .logo img {
    margin-right: 5px;
    filter: invert(25%);
    width: 46px;
    margin-top: -8px;
  }
  .navbar a {
    color: #333;
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 40px;
  }